.container {
	max-width: 800px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.image-container {
	margin-top: 20px;
}

.form-container {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	width: 75%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
}

button {
	padding: 10px 20px;
	background-color: #2d84a6;
	color: #fff;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

button:hover {
	background-color: #000000;
}